.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #66B3FF 0%, #33CCCC 100%);
}

.auth-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
}

.auth-heading {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.auth-alert {
    margin-bottom: 1rem;
}

.auth-input {
    margin-bottom: 1rem;
}

.auth-button {
    margin-top: 1rem;
}

.auth-toggle {
    margin-top: 1rem;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.auth-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.auth-logo {
    display: block;
    margin: 0 auto 1rem auto; /* Center and add space below the logo */
    max-width: 100px; /* Adjust size as needed */
    height: auto;
}
